.referreranalytics-small {
  color: #666;
  display: inline-block;
  font-size: 11px;
  line-height: 1;
}

.referrer-analytics-callout {
  align-items: center;
  background: #fff;
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
  padding: 20px;
}

.referreranalytics-list {
  counter-reset: list-counter;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.referreranalytics-list li {
  counter-increment: list-counter;
  display: flex;
  padding: 5px 10px;
}

.referreranalytics-list li::before {
  content: counter(list-counter) ".";
  font-weight: bold;
  margin-right: 5px;;
}

.referreranalytics-list li:nth-child(odd) {
  background: rgba(0, 0, 0, 0.04);
}

.referreranalytics-list-label {
  overflow: hidden;
  padding-right: 15px;
}

.referreranalytics-list-count {
  flex-grow: 1;
  font-weight: bold;
  text-align: right;
}

.referrer-analytics-callout h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.referrer-analytics-callout p {
  font-size: 14px;
  margin-top: 0;
}

.referrer-analytics-callout-actions {
  display: block;
  width: 100%;
}

.referrer-analytics-callout-actions a.button {
  display: block;
  margin-bottom: 3px;
  text-align: center;
  width: 100%;
}

.referrer-analytics-callout-actions a:last-child {
  margin-bottom: 0;
}

@media (min-width: 960px) {
  .referrer-analytics-callout {
    flex-wrap: nowrap;
  }

  .referrer-analytics-callout-actions {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    width: auto;
  }
}


.referrer-analytics-referrer-option {
  margin-bottom: 0.3rem;
}

.referrer-analytics-referrer-header,
.referrer-analytics-referrer-option {
  display: flex;
}

.referrer-analytics-referrer-header div,
.referrer-analytics-input {
  width: calc(100% / 3);
}

.referrer-analytics-referrer-header div {
  margin-bottom: 0.3rem;
}

.referrer-analytics-referrer-header label {
  font-weight: bold;
}

.referrer-analytics-referrer-header small {
  color: #666;
  font-style: italic;
  display: block;
}

.referrer-analytics-boxes {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.referrer-analytics-box {
  background: #fff;
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  overflow: hidden;
  width: calc(100% - 18px);
}

.referrer-analytics-box h3 {
  border-bottom: 1px solid #ccd0d4;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.referrer-analytics-box .inside,
.referrer-analytics-box h3 {
  padding: 12px;
}

.referrer-analytics-box-unknown-referrers .referreranalytics-list {
	display: flex;
	max-height: 850px;
	flex-direction: column;
  flex-wrap: wrap;
}

.referrer-analytics-box-unknown-referrers .referreranalytics-list>* {
	box-sizing: border-box;
	width: calc(100% / 4);
}

@media (min-width: 768px) {
  .referrer-analytics-box {
    width: calc(100% / 3 - 18px);
	}

  .referrer-analytics-box-type-pie,
  .referrer-analytics-box-line-chart {
    width: calc(100% / 2 - 18px);
  }

  .referrer-analytics-box-unknown-referrers {
    width: calc(100% - 18px);
  }

}
